_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
.bundle/
vendor/

# LaTeX build artifacts
resume/*.aux
resume/*.log
resume/*.out
resume/*.fls
resume/*.fdb_latexmk
resume/*.synctex.gz
Gemfile.lock
